body{
    padding: 0;
    margin: 0;
}

.container{
    width: 860px;
    font-size: 16px;
    max-width: 450px;
    padding: 48px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 0 51px rgba(1, 3, 29, 0.2);
    border-radius: 10px;
    background: #fff;
}

h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 24px;
    font-family: 'Cherry Bomb One', cursive;
}

html {
    background-image: url("/background.jpg");
    background-size: cover;
}

.input-wrapper input{
    display: block;
    width: 95%;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
}

.input-wrapper label{
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    font-family: 'Ruwudu', serif;
}

.input-wrapper:not(:last-child) {
    margin-bottom: 4px;
}